

{% extends 'base.html' %}


{% block content %}
<div class="navbar">
  <a href="{% url 'user_home' %}">User Home</a>
  <a href="{% url 'home' %}">Log out</a>
</div>
<div class="left-content">
  {% for product in products %}
  <div class="product">
    
    <!-- Display the image -->
    {% if product.image %}
      <img src="{{ product.image.url }}" alt="{{ product.description }}">
    {% else %}
      <p>No image available</p>
    {% endif %}

      <h2>{{ product.description }}</h2>
      <h3>Price: ${{ product.price }}</h3>
    
      <button class="buy-button" type="button">Buy</button>

    
  </div>
  {% endfor %}
</div>
{% endblock %}
